Repository motlin/typescript-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome, prettier, eslint

.pre-commit-config.yaml:

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: check-yaml
          - id: check-json
            # Exclude JSONC files (JSON with Comments) as they need comment support
            exclude: "tsconfig.*\\.json"
          - id: check-toml
          - id: check-xml
          - id: end-of-file-fixer
          - id: trailing-whitespace
          - id: check-added-large-files
            args: ['--maxkb=1000']
          - id: check-case-conflict
          - id: check-merge-conflict
          - id: detect-private-key
          - id: mixed-line-ending
            args: ['--fix=lf']

    - repo: local
      hooks:
          - id: biome
            name: biome
            entry: npx biome format --write
            language: system
            types: [file]
            files: \.(js|jsx|ts|tsx|mjs|cjs|json|json5)$
            exclude: "package(-lock)?\\.json"

          - id: prettier
            name: prettier
            entry: npx prettier --write
            language: system
            types_or: [yaml, markdown, html]

          - id: eslint
            name: eslint
            entry: npx eslint --fix
            language: system
            files: \.(js|jsx|ts|tsx|mjs|cjs)$
            types: [file]

Apply pre-commit fixes.
  CLAUDE.md
Due: prettier

Trim the sync-template command and bump node to 24.16.0.
  .claude/commands/sync-template.md
  .mise/config.toml
Due: prettier

Add fallow codebase-intelligence tool to the template.
  .fallowrc.json
  .github/workflows/merge-group.yml
  .gitignore
  .pre-commit-config.yaml
  justfile
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome, prettier

Disable markdownlint MD010 code_blocks check to match oxfmt tab formatting.
  .markdownlint.jsonc
Due: none

Add default git test verification section to sync-template command.
  .claude/commands/sync-template.md
Due: prettier

Bump node from 24.16.0 to 26.2.0 in the mise tool configuration.
  .mise/config.toml
Due: none

Tighten oxlint type-aware rules for unsafe values, floating promises, and strict booleans, and fix violations.
  src/config.ts
  src/stories/Page.tsx
  src/user.ts
  tests/config.test.ts
  vite.config.ts
Due: biome, eslint

Add pre-commit hooks to the local precommit chain so just precommit matches CI.
  justfile
Due: none

Fix markdownlint MD010 whitelist trap, match MD007 to oxfmt, and exclude .fallowrc.json from check-json.
  .markdownlint.jsonc
  .pre-commit-config.yaml
Due: prettier

Add src/**/*.mdx to fallow entry points so Storybook docs pages aren't flagged as dead code.
  .fallowrc.json
Due: biome

Add stale tool config scan to sync-template, alerting on leftover Prettier/ESLint/Biome configs without deleting.
  .claude/commands/sync-template.md
Due: prettier

Pass GITHUB_TOKEN to mise-action so tool installs survive cold caches.
  .github/workflows/merge-group.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
Due: prettier

Add workflow-permissions reset and missing-secrets audit to configure-github.sh.
  scripts/configure-github.sh
Due: none

Sync template: bump tools, remove biome/npm leftovers, wire up yamllint, add PR alls-green gate.
  .biomeignore
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .mise/config.toml
  .pre-commit-config.yaml
  package-lock.json
  package.json
Due: prettier

Remove npm leftover .npmrc, clean eslint references from dependabot.yml, and add yamllint job to merge-group.yml.
  .github/dependabot.yml
  .github/workflows/merge-group.yml
  .npmrc
Due: prettier

Update YAML formatting to use two-space indentation across project files.
  .github/dependabot.yml
  .github/workflows/merge-group.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .pre-commit-config.yaml
  .yamllint.yaml
  pnpm-workspace.yaml
  vite.config.ts
Due: biome, prettier, eslint

Fix shared CI tool setup
  .github/workflows/merge-group.yml
  .mise/config.toml
  .pre-commit-config.yaml
  justfile
Due: prettier

Pin mise tool versions to match the template, replacing "latest".
  .mise/config.toml
Due: none

Make .gitattributes conditional on tracked bat/cmd and .idea files.
  .gitattributes
Due: none

Fix violations of zizmor rule: excessive-permissions.
  .github/workflows/merge-group.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
Due: prettier

Fix violations of zizmor rule: unpinned-uses.
  .github/workflows/merge-group.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
Due: prettier

Fix violations of zizmor rule: artipacked.
  .github/workflows/merge-group.yml
  .github/workflows/push.yml
Due: prettier

Rename Fallow config to JSONC and remove its JSON hook exclusion.
  .fallowrc.jsonc
  .pre-commit-config.yaml
Due: prettier

Pin vite-plus toolchain from latest to 0.1.24 in mise tool and pnpm catalog specifiers, regenerating the lockfile.
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

Add 1-day cooldown to npm and github-actions Dependabot updates for supply-chain release-age protection.
  .github/dependabot.yml
Due: prettier

Apply pre-commit fixes.
  .fallowrc.jsonc
Due: none

Disable markdownlint MD060 table-column-style, which conflicts with oxfmt empty-cell padding.
  .markdownlint.jsonc
Due: none

Sync vite-plus toolchain pins for the 0.2.1 dependency update.
  .mise/config.toml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

Rename the precommit justfile recipe to verify and add a deprecated precommit alias forwarding to it.
  justfile
Due: none

Disable the vp staged hook by short-circuiting vp config with VITE_GIT_HOOKS=0 and removing its pre-commit block.
  .pre-commit-config.yaml
  package.json
Due: prettier

Disable the vp staged hook by short-circuiting vp config with VITE_GIT_HOOKS=0 and removing its pre-commit block.
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/config.test.ts
  tests/index.test.ts
  tests/user.test.ts
Due: biome, prettier, eslint

Use double quotes in formatter configuration files.
  .github/dependabot.yml
  .pre-commit-config.yaml
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/vitest.setup.ts
  .yamllint.yaml
  index.html
  pnpm-workspace.yaml
  src/config.ts
  src/index.ts
  src/main.tsx
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/Configure.mdx
  src/stories/Header.stories.ts
  src/stories/Header.tsx
  src/stories/Page.stories.ts
  src/stories/Page.tsx
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
  src/user.ts
  tests/config.test.ts
  tests/index.test.ts
  tests/user.test.ts
  vite.config.ts
  vitest.config.ts
Due: biome, prettier, eslint
