Repository motlin/typescript-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome, prettier, eslint

biome:
  name: biome
  entry: npx biome format --write
  language: system

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

eslint:
  name: eslint
  entry: npx eslint --fix
  language: system

Fix TypeScript errors in ESLint configuration.
  eslint.config.ts
Due: biome, eslint

Fix indentation in dependabot configuration.
  .github/dependabot.yml
Due: prettier

Sync with other builds.
  .github/workflows/pull-request.yml
  package.json
  tsconfig.json
  vitest.config.ts
  vitest.setup.ts
Due: biome, prettier, eslint

Update .gitignore to ignore .llm/ and .claude/ directories
  .gitignore
Due: none

Add .mjs files to biome include patterns
  biome.jsonc
Due: none

Remove unused .just/git*.just files
  .just/git-rebase.just
  .just/git-test.just
  .just/git.just
Due: none

Add repository parameter for fork PR checkout
  .github/workflows/pull-request.yml
Due: prettier

Upgrade biome schema from 2.1.2 to 2.3.6
  biome.jsonc
Due: none

Fix `all-checks` GHA job to fail when dependencies fail.
  .github/workflows/merge-group.yml
Due: prettier

Update mise tools: just 1.45.0, node 24.11.1, remove npm
  .mise/config.toml
Due: none

Add Apache 2.0 LICENSE file
  LICENSE
Due: none

Upgrade prettier to 3.7.4 and Storybook to 10
  package-lock.json
  package.json
Due: none

Sync build.
  .biomeignore
  .markdownlint.jsonc
  .pre-commit-config.yaml
  .prettierignore
  biome.jsonc
Due: prettier

Enable useImportType Biome rule as error.
  biome.jsonc
Due: none

Enable noExplicitAny Biome rule as error.
  biome.jsonc
Due: none

Add storybook-static to gitignore.
  .gitignore
  eslint.config.ts
  index.html
  package-lock.json
Due: biome, prettier, eslint

Remove unused mocking from vitest setup and tests.
  tests/user.test.ts
  vitest.setup.ts
Due: biome, eslint

Add Storybook 10 with vitest browser mode integration.
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/vitest.setup.ts
  eslint.config.ts
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/Configure.mdx
  src/stories/Header.stories.ts
  src/stories/Header.tsx
  src/stories/Page.stories.ts
  src/stories/Page.tsx
  src/stories/assets/accessibility.png
  src/stories/assets/accessibility.svg
  src/stories/assets/addon-library.png
  src/stories/assets/assets.png
  src/stories/assets/avif-test-image.avif
  src/stories/assets/context.png
  src/stories/assets/discord.svg
  src/stories/assets/docs.png
  src/stories/assets/figma-plugin.png
  src/stories/assets/github.svg
  src/stories/assets/share.png
  src/stories/assets/styling.png
  src/stories/assets/testing.png
  src/stories/assets/theming.png
  src/stories/assets/tutorials.svg
  src/stories/assets/youtube.svg
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
  vite.config.ts
  vitest.config.ts
  vitest.shims.d.ts
Due: biome, eslint

Update Node.js to 24.12.0.
  .mise/config.toml
Due: none

Update vitest to 4.0.16 and prettier to 3.7.4
  .prettierrc.json5
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/index.ts
Due: biome, prettier, eslint

Update auto-fix commit message format in GitHub Actions workflow.
  .github/workflows/pull-request.yml
Due: prettier

Add .gitattributes with comments and .bat file handling.
  .gitattributes
Due: none

Add .npmrc with legacy-peer-deps for npm compatibility.
  .npmrc
  package-lock.json
Due: none

Add yamllint configuration.
  .yamllint.yaml
Due: prettier

Restore eslint-fix job to pull request workflow.
  .github/workflows/pull-request.yml
Due: prettier

Add .claude/commands/ to version control for shareable slash commands.
  .claude/commands/sync-template.md
  .gitignore
Due: prettier

Update just to 1.46.0 and biome to 2.3.13.
  .mise/config.toml
  package-lock.json
  package.json
Due: none

Add pre-commit-fix job to pull request workflow.
  .github/workflows/pull-request.yml
Due: prettier

Add Playwright install step to merge-group CI workflow.
  .github/workflows/merge-group.yml
  justfile
Due: prettier

Update Node.js to 24.13.1 and bump devDependency minimums.
  .mise/config.toml
  package-lock.json
  package.json
Due: none

Use Just long-form options with CI env var auto-detection and npm script naming convention.
  .github/workflows/merge-group.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  justfile
  package.json
Due: prettier

Use Just long-form options with CI env var auto-detection and npm script naming convention.
  .github/workflows/merge-group.yml
  .github/workflows/push.yml
  justfile
  package.json
Due: prettier

Use Just long-form options with CI env var auto-detection and npm script naming convention.
  .github/workflows/pull-request.yml
  justfile
  package.json
Due: prettier

Path conditions:
  biome: any of: \.(js|jsx|ts|tsx|mjs|cjs|json|json5)$, but not: package(-lock)?\.json
  prettier: any of: \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(html|htm|xhtml)$
  eslint: any of: \.(js|jsx|ts|tsx|mjs|cjs)$
