Repository motlin/typescript-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome, prettier, eslint

.pre-commit-config.yaml:

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: check-yaml
          - id: check-json
            # Exclude JSONC files (JSON with Comments) as they need comment support
            exclude: "tsconfig.*\\.json"
          - id: check-toml
          - id: check-xml
          - id: end-of-file-fixer
          - id: trailing-whitespace
          - id: check-added-large-files
            args: ['--maxkb=1000']
          - id: check-case-conflict
          - id: check-merge-conflict
          - id: detect-private-key
          - id: mixed-line-ending
            args: ['--fix=lf']

    - repo: local
      hooks:
          - id: biome
            name: biome
            entry: npx biome format --write
            language: system
            types: [file]
            files: \.(js|jsx|ts|tsx|mjs|cjs|json|json5)$
            exclude: "package(-lock)?\\.json"

          - id: prettier
            name: prettier
            entry: npx prettier --write
            language: system
            types_or: [yaml, markdown, html]

          - id: eslint
            name: eslint
            entry: npx eslint --fix
            language: system
            files: \.(js|jsx|ts|tsx|mjs|cjs)$
            types: [file]

Add missing eslint-plugin-react-hooks dependency.
  package.json
  pnpm-lock.yaml
Due: prettier

Add TypeScript configuration files.
  tsconfig.app.json
  tsconfig.eslint.json
  tsconfig.functions.json
  tsconfig.node.json
  tsconfig.routes.json
Due: biome

Add build and development configuration.
  .node-version
  index.html
  package-lock.json
  wrangler.toml
Due: prettier

Add project README.
  README.md
Due: prettier

Add development environment configuration.
  .devcontainer/devcontainer.json
  .just/git-rebase.just
  .just/git-test.just
  .just/git.just
Due: biome

Add development environment configuration.
  .devcontainer/devcontainer.json
  .just/git-rebase.just
  .just/git-test.just
  .just/git.just
  JUSTFILE_BRANCH
Due: biome

Add Claude Code configuration.
  .claude/settings.local.json
Due: biome

Improve vite.config.ts.
  vite.config.ts
Due: biome, eslint

Add dependency on eslint-plugin-react-refresh.
  package-lock.json
  package.json
Due: none

Sync with other builds.
  .claude/settings.local.json
  .just/git-rebase.just
  .just/git-test.just
  .just/git.just
  tsconfig.json
Due: biome

Sync with other projects.
  .mise/config.toml
  .node-version
  .pre-commit-config.yaml
  biome.jsonc
  package.json
Due: prettier

Sync with other builds.
  .pre-commit-config.yaml
  biome.jsonc
  eslint.config.ts
  src/config.ts
  src/index.ts
  src/user.ts
  tests/config.test.ts
  tests/index.test.ts
  tests/user.test.ts
  tsconfig.json
Due: biome, prettier, eslint

Remove formatting rules from eslint config.
  biome.jsonc
  eslint.config.ts
Due: biome, eslint

Fix formatting and add eslint-config-prettier dependency.
  package-lock.json
  package.json
Due: none

Add groups to justfile recipes.
  justfile
Due: none

Configure Biome operatorLinebreak to match Prettier configuration.
  biome.jsonc
Due: none

Add npm ci to pre-commit workflow.
  .github/workflows/merge-group.yml
Due: prettier

Ignore .vite directory.
  .gitignore
Due: none

Enable all project MCP servers in Claude settings.
  .claude/settings.local.json
  .pre-commit-config.yaml
Due: biome, prettier

Ignore ataylorme/eslint-annotate-action in dependabot.
  .github/dependabot.yml
Due: prettier

Add development environment configuration.
  .just/git-rebase.just
  .just/git-test.just
  .just/git.just
Due: none

Add JUSTFILE_BRANCH to gitignore.
  .gitignore
  eslint.config.ts
  justfile
  package-lock.json
  package.json
  src/config.ts
  tests/config.test.ts
  tsconfig.json
Due: biome, eslint

Sync with other builds.
  biome.jsonc
  eslint.config.ts
  package-lock.json
  package.json
  src/main.tsx
  tsconfig.json
  vite.config.ts
  wrangler.toml
Due: biome, eslint

Add auto-fix workflows for eslint, biome, and prettier.
  .github/workflows/pull-request.yml
Due: prettier

Stop tracking Claude local settings file.
  .claude/settings.local.json
  .gitignore
Due: biome
