Repository motlin/typescript-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome, prettier, eslint

.pre-commit-config.yaml:

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: check-yaml
          - id: check-json
            # Exclude JSONC files (JSON with Comments) as they need comment support
            exclude: "tsconfig.*\\.json"
          - id: check-toml
          - id: check-xml
          - id: end-of-file-fixer
          - id: trailing-whitespace
          - id: check-added-large-files
            args: ['--maxkb=1000']
          - id: check-case-conflict
          - id: check-merge-conflict
          - id: detect-private-key
          - id: mixed-line-ending
            args: ['--fix=lf']

    - repo: local
      hooks:
          - id: biome
            name: biome
            entry: npx biome format --write
            language: system
            types: [file]
            files: \.(js|jsx|ts|tsx|mjs|cjs|json|json5)$
            exclude: "package(-lock)?\\.json"

          - id: prettier
            name: prettier
            entry: npx prettier --write
            language: system
            types_or: [yaml, markdown, html]

          - id: eslint
            name: eslint
            entry: npx eslint --fix
            language: system
            files: \.(js|jsx|ts|tsx|mjs|cjs)$
            types: [file]

Add .gitignore and git exclude sync rules to the shared sync includes.
  .claude/commands/sync-template.md
  .claude/includes/sync-gitignore.md
Due: prettier

Update mise tool versions, move node to the 24 LTS line, and pin vite-plus 0.3.3 in both mise and the catalog so they stop drifting.
  .mise/config.toml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

Unwrap sync-template and sync-gitignore Markdown to one line per paragraph and use bullets instead of numbered steps.
  .claude/commands/sync-template.md
  .claude/includes/sync-gitignore.md
Due: prettier

Name the template Node process and propagate process naming through template sync.
  .claude/commands/sync-template.md
  vite.config.ts
Due: biome, prettier, eslint

Set oxfmt proseWrap to never with embedded formatting off, unwrap Markdown paragraphs, and replace numbered lists with bullets.
  .claude/includes/sync-git-test.md
  .claude/includes/sync-gitignore.md
  .claude/includes/sync-just-options.md
  .claude/includes/sync-project-list.md
  .claude/includes/sync-report.md
  .claude/includes/sync-stale-configs.md
  .claude/includes/sync-task-dedup.md
  .claude/includes/sync-version-policy.md
  CLAUDE.md
  vite.config.ts
Due: biome, prettier, eslint

Keep Markdown tables column-aligned by raising the Markdown printWidth to oxfmt's 320 maximum.
  vite.config.ts
Due: biome, eslint

Remove stale gitignore entries and update sync-template docs for .fallowrc.jsonc and vite.config.ts.
  .claude/commands/sync-template.md
  .gitignore
Due: prettier

Pin forbid-merge-commits to v1.0.8, keep exit status in fix jobs, override postcss for GHSA-6g55-p6wh-862q.
  .github/workflows/pull-request.yml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

Refactor configure-github confirm_toggle and treat 403 on branch protection as a warning.
  scripts/configure-github.sh
Due: none

Add shebang hooks, run yamllint in strict mode, and ignore CLAUDE.local.md in markdownlint.
  .markdownlint-cli2.jsonc
  .pre-commit-config.yaml
  scripts/audit-just-options.py
Due: prettier

Update pnpm to 12.7.0 and bump react-query-devtools, @types/node, agentation, fallow, and jsdom.
  .mise/config.toml
  package.json
  pnpm-lock.yaml
Due: prettier

Remove the unused staged block from vite.config.ts since prepare sets VITE_GIT_HOOKS=0.
  vite.config.ts
Due: biome, eslint

Downgrade only a 403 on the branch-protection PUT to a warning and exit 1 on other failures.
  scripts/configure-github.sh
Due: none

Run the just option audit from the template's own scripts directory instead of a hard-coded ~/projects path.
  .claude/includes/sync-just-options.md
Due: prettier

Keep the just option audit script and recipe in the template instead of syncing them into siblings.
  .claude/commands/sync-template.md
Due: prettier

Resolve vp from the project-local vite-plus and drop the global mise entry
  .claude/commands/sync-template.md
  .github/workflows/merge-group.yml
  .github/workflows/pull-request.yml
  .mise/config.toml
  .pre-commit-config.yaml
  README.md
  justfile
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vite.config.ts
Due: biome, prettier, eslint

Run fallow before vp fmt in pre-commit so fallow's 2-space package.json rewrite gets re-tabbed.
  .pre-commit-config.yaml
Due: prettier

Revert the fallow-before-vp-fmt hook reorder; it only helps when package.json is staged, and the real cause is fallow not preserving indentation.
  .pre-commit-config.yaml
Due: prettier

Put node_modules/.bin on PATH via mise so bare vp resolves to the project-local vite-plus outside just.
  .mise/config.toml
Due: none

Run the fallow pre-commit hook through the fallow package.json script so its flags can't drift.
  .pre-commit-config.yaml
  package.json
Due: prettier

Read the enabled field of automated-security-fixes instead of treating any successful response as enabled.
  scripts/configure-github.sh
Due: none

Bump pnpm to 12.11.2, vite-plus to 1.1.0, fallow to 3.33.0 and dev dependencies, and ignore eslint in fallow since 3.33 no longer credits it as a peer of the ignored eslint-plugin-storybook.
  .fallowrc.jsonc
  .mise/config.toml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

Remove comments that narrate the move to the project-local vp.
  .mise/config.toml
  justfile
Due: none

Add .github/dependabot.yml and .gitignore to the sync-template managed files.
  .claude/commands/sync-template.md
Due: prettier

Enable the vite-plus oxlint plugin's prefer-vite-plus-imports rule and import test helpers from vite-plus/test.
  tests/config.test.ts
  tests/index.test.ts
  tests/user.test.ts
  vite.config.ts
Due: biome, eslint

Bump jdx/mise-action to v5.1.1.
  .github/workflows/merge-group.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
Due: prettier

Run just typecheck without the vp cache, which replays a stale pass because it can't see tsc 7's file reads.
  justfile
Due: none
