Repository motlin/typescript-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome, prettier, eslint

.pre-commit-config.yaml:

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: check-yaml
          - id: check-json
            # Exclude JSONC files (JSON with Comments) as they need comment support
            exclude: "tsconfig.*\\.json"
          - id: check-toml
          - id: check-xml
          - id: end-of-file-fixer
          - id: trailing-whitespace
          - id: check-added-large-files
            args: ['--maxkb=1000']
          - id: check-case-conflict
          - id: check-merge-conflict
          - id: detect-private-key
          - id: mixed-line-ending
            args: ['--fix=lf']

    - repo: local
      hooks:
          - id: biome
            name: biome
            entry: npx biome format --write
            language: system
            types: [file]
            files: \.(js|jsx|ts|tsx|mjs|cjs|json|json5)$
            exclude: "package(-lock)?\\.json"

          - id: prettier
            name: prettier
            entry: npx prettier --write
            language: system
            types_or: [yaml, markdown, html]

          - id: eslint
            name: eslint
            entry: npx eslint --fix
            language: system
            files: \.(js|jsx|ts|tsx|mjs|cjs)$
            types: [file]

Sync Fallow enforcement and dependency ownership into the TypeScript template.
  .fallowrc.jsonc
  .github/workflows/merge-group.yml
  justfile
  package.json
  pnpm-lock.yaml
Due: prettier

Fix violations of zizmor rule: ref-version-mismatch.
  .github/workflows/pull-request.yml
Due: prettier

Enforce zizmor in CI via merge-group job.
  .github/workflows/merge-group.yml
Due: prettier

Fix violations of zizmor rule: dependabot-cooldown.
  .github/dependabot.yml
Due: prettier

Fix violations of zizmor rule: artipacked.
  .github/workflows/pull-request.yml
Due: prettier

Update toolchain pins to vite-plus 0.2.5, pnpm 11.15.0, node 26.5.0 with core override fixing vitest startup crash.
  .mise/config.toml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vite.config.ts
Due: biome, prettier, eslint

Configure yamllint comment spacing to match the project template.
  .yamllint.yaml
Due: prettier

Restore pnpm 11.1.1 to honor the seven-day dependency release-age policy.
  package.json
Due: none

Harmonize sync-template command onto shared skeleton with byte-identical includes.
  .claude/commands/sync-template.md
  .claude/includes/sync-git-test.md
  .claude/includes/sync-project-list.md
  .claude/includes/sync-report.md
  .claude/includes/sync-stale-configs.md
  .claude/includes/sync-task-dedup.md
  .claude/includes/sync-version-policy.md
  .gitignore
Due: prettier

Enable workflow auto-merge for Renovate PRs alongside Dependabot.
  .github/workflows/pull-request.yml
Due: prettier

Apply vp check fixes.
  CLAUDE.md
Due: prettier

Apply pre-commit fixes.
  CLAUDE.md
Due: prettier

Add an unscoped Oxfmt pre-commit hook to the TypeScript template.
  .pre-commit-config.yaml
Due: prettier

Enforce minimum release ages across synchronized TypeScript tooling.
  .claude/includes/sync-version-policy.md
  .mise/config.toml
  package.json
  pnpm-workspace.yaml
Due: prettier

Require complete managed-file coverage in TypeScript template syncs.
  .claude/commands/sync-template.md
  .claude/includes/sync-task-dedup.md
Due: prettier

Cache TypeScript template checks, builds, typechecking, and unit tests.
  .fallowrc.jsonc
  .github/workflows/merge-group.yml
  justfile
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vite.config.ts
  vitest.config.ts
Due: biome, prettier, eslint

Delete the vp staged commit hook so the pre-commit framework checks run again.
  .vite-hooks/pre-commit
Due: none

Remove project-specific content from the template index.html, README, and wrangler config.
  README.md
  index.html
  wrangler.toml
Due: prettier

Update Vite+ to 0.2.7, Node to 26.5.1, and Vitest to 4.1.10.
  .mise/config.toml
  CLAUDE.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

Remove the unused lucide-react dependency from the TypeScript template.
  package.json
  pnpm-lock.yaml
Due: prettier

Add the shared just recipe option audit to the TypeScript template.
  .claude/commands/sync-template.md
  .claude/includes/sync-just-options.md
  justfile
  scripts/audit-just-options.py
Due: prettier

Ungroup the single-package typescript Dependabot group.
  .github/dependabot.yml
Due: prettier

List react-ecosystem packages explicitly to remove the react-firebase pattern overlap.
  .github/dependabot.yml
Due: prettier

Group Storybook core, addons and eslint plugin into one Dependabot update.
  .github/dependabot.yml
Due: prettier

Fix zizmor ref-version-mismatch by updating alls-green and forbid-merge-commits-action pin comments.
  .github/workflows/merge-group.yml
  .github/workflows/pull-request.yml
Due: prettier

Add changed-file Just formatting to local hooks and validation pipelines.
  .mise/config.toml
  .pre-commit-config.yaml
  justfile
Due: prettier

Unescape the quotes in the automerge-bots fromJSON list so the job runs for dependabot and renovate PRs.
  .github/workflows/pull-request.yml
Due: prettier

Define check as a Vite+ task and run it with vp run in check-fix, so projects can add dependsOn for code generation.
  .github/workflows/pull-request.yml
  package.json
  vite.config.ts
Due: biome, prettier, eslint

Name the template Node process and propagate process naming through template sync.
  .claude/commands/sync-template.md
  vite.config.ts
Due: biome, prettier, eslint
