Repository motlin/typescript-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome, prettier, eslint

biome:
  name: biome
  entry: npx biome format --write
  language: system

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

eslint:
  name: eslint
  entry: npx eslint --fix
  language: system

Bump node 24.13.1 → 24.14.0, eslint 9 → 10.
  .mise/config.toml
  package-lock.json
  package.json
Due: none

Improve sync-template command with frontmatter, argument support, and source tracking.
  .claude/commands/sync-template.md
Due: prettier

Bump just 1.46.0 → 1.47.1.
  .mise/config.toml
Due: none

Read Vite allowed hosts from VITE_ALLOWED_HOSTS env var.
  vite.config.ts
Due: biome, eslint

Remove redundant file filters from pre-commit hooks.
  .pre-commit-config.yaml
Due: prettier

Migrate from ESLint to Oxlint.
  .github/workflows/merge-group.yml
  .github/workflows/pull-request.yml
  .oxlintrc.json
  .pre-commit-config.yaml
  eslint.config.ts
  justfile
  package-lock.json
  package.json
  tsconfig.json
Due: biome, prettier, eslint

Use tsgo for native TypeScript type checking.
  package-lock.json
  package.json
Due: none

Update just from 1.47.1 to 1.48.0.
  .mise/config.toml
Due: none

Update npm dependencies: storybook, tsgo, oxlint.
  package-lock.json
  package.json
Due: none

Migrate from Vite/Vitest/Biome/Prettier to Vite+.
  .claude/commands/sync-template.md
  .github/workflows/merge-group.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .mise/config.toml
  .oxlintrc.json
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.json5
  .storybook/main.ts
  .storybook/vitest.setup.ts
  .vite-hooks/pre-commit
  CLAUDE.md
  biome.jsonc
  justfile
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/stories/Configure.mdx
  src/stories/Header.tsx
  src/stories/Page.tsx
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
  tests/config.test.ts
  tests/index.test.ts
  tests/user.test.ts
  vite.config.ts
  vitest.config.ts
  vitest.shims.d.ts
Due: biome, prettier, eslint

Update Node.js from 24.14.0 to 24.14.1.
  .mise/config.toml
Due: none

Enable noUncheckedSideEffectImports TypeScript strict flag.
  tsconfig.json
Due: biome

Add strict TypeScript flags to tsconfig.app.json.
  tsconfig.app.json
Due: biome

Add strict TypeScript flags to tsconfig.node.json
  tsconfig.node.json
Due: biome

Update just 1.48.0 → 1.48.1.
  .mise/config.toml
Due: none

Expand sync-template command to cover full toolchain scope.
  .claude/commands/sync-template.md
Due: prettier

Simplify vitest.config.ts test configuration.
  vitest.config.ts
Due: biome, eslint

Pull newer dependency versions and update just to 1.49.0.
  .mise/config.toml
  pnpm-lock.yaml
Due: prettier

Update CLAUDE.md for vite-plus 0.1.20 and reorder tsconfig linting flags.
  tsconfig.node.json
Due: biome

Document lint configs and configure-github.sh in sync-template.
  .claude/commands/sync-template.md
  CLAUDE.md
  scripts/configure-github.sh
Due: prettier

Sync template versions and improve stale task handling in sync skill.
  .claude/commands/sync-template.md
  .mise/config.toml
  .pre-commit-config.yaml
  package.json
  pnpm-lock.yaml
Due: prettier

Add markdownlint-cli2 to enforce markdown linting in pre-commit and CI.
  .github/workflows/merge-group.yml
  .markdownlint-cli2.jsonc
  .pre-commit-config.yaml
  package.json
  pnpm-lock.yaml
Due: prettier

Add agentation devDependency and mount <Agentation /> in dev to enable AI coding agent visual feedback.
  package.json
  pnpm-lock.yaml
  src/main.tsx
Due: biome, prettier, eslint

Trim time-bound pnpm 10-to-11 narrative from /sync-template skill.
  .claude/commands/sync-template.md
Due: prettier

Bump pnpm from 10.33.2 to 11.1.1, just 1.51.0, and template devDeps.
  .github/workflows/merge-group.yml
  .mise/config.toml
  .pre-commit-config.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

Document pnpm-workspace.yaml as a managed config in /sync-template.
  .claude/commands/sync-template.md
Due: prettier

Path conditions:
  biome: any of: \.(js|jsx|ts|tsx|mjs|cjs|json|json5)$, but not: package(-lock)?\.json
  prettier: any of: \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(html|htm|xhtml)$
  eslint: any of: \.(js|jsx|ts|tsx|mjs|cjs)$
